
$font-default: 'Arial';
$light: 300;
$normal: 400;
$bold: 700;

$white: #fff;
$black: #000;

$primary-color: $black;
$text-color: $black;   

$logo-background: #F8F8F8;

$input-border: $black;
$input-border-active: green;
$input-background-active: #f2f2f2;
$error-border: red;
$error-message: red;

/* Media queries */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px
) !default;